.container{
    height: 700px;
    width: 504px;
    border: 1px solid red;
    background-color: yellow;

    display: grid;

    grid-template-columns: 100px 400px;
    grid-template-rows: 30px 1fr 30px;

    gap: 4px;

    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft";
}

.box{
    border: 1px solid green;
    background-color: aqua;
    /* height: 100px;
    width: 100px; */
}

#header{
    grid-area: hd;
}

#footer{
    grid-area: ft;
}

#sidebar{
    grid-area: side;
}

#content{
    grid-area: main;
}