div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black; 
}
.traslated{
    transform: perspective(10px) translateZ(-10px);
}

.scaled{
    margin-left: 100px;
    transform: perspective(350px) scaleZ(6) rotateY(30deg);
}